<form [formGroup]="comidasForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre" formControlName="Nombre">
                        <mat-error *ngIf="comidasForm.controls['Nombre'].hasError('required')">
                            El nombre de la comida es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Tipo" formControlName="Tipo">
                    <mat-error *ngIf="comidasForm.controls['Tipo'].hasError('required')">
                        El tipo de comida <strong>Requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Precio" formControlName="Precio">
                        <mat-error *ngIf="comidasForm.controls['Precio'].hasError('required')">
                            El precio de la comida es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Descripcion" formControlName="Descripcion">
                        <mat-error *ngIf="comidasForm.controls['Descripcion'].hasError('required')">
                            La descripción de la comida es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">{{acciones}}</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>