<form [formGroup]="comidasForm" novalidate (ngSubmit)="onSubmit()" class="form-components">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{titulo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre" formControlName="Nombre">
                        <mat-error *ngIf="comidasForm.controls['Nombre'].hasError('required')">
                            El nombre del alimento es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Tipo" formControlName="Tipo">
                        <mat-error *ngIf="comidasForm.controls['Tipo'].hasError('required')">
                            El tipo de alimento es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Precio" formControlName="Precio">
                        <mat-error *ngIf="comidasForm.controls['Precio'].hasError('required')">
                            El precio del alimento es <strong>Requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Descripción" formControlName="Descripcion">
                            <mat-error *ngIf="comidasForm.controls['Descripcion'].hasError('required')">
                                la Descripcion del alimentoes <strong>Requerida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">{{acciones}}</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>